
#!/usr/bin/env python
# -*- encoding: utf-8 -*-
'''
@File    :   {{name}}.py
@Time    :   {{datetime}}
@Desc    :   
'''


{# Jinja2 template for generating Pydantic models from protobuf messages #}
from sqlmodel import SQLModel, Field
{% for import in imports %}
{{ import }}
{% endfor %}

{% for enum in enums %}
class {{ enum.message_name }}(Enum):
    {%- for value in enum.fields %}
    {{ value.name }} = {{ value.value }}
    {%- endfor %}

{% endfor %}

{% for message in messages %}
class {{ message.message_name }}(SQLModel,table=True):
    {% if message.table_name%}__tablename__="{{message.table_name}}"{%endif%}
    {% if message.table_args%}__table_args__=({{message.table_args}},){%endif%}
    {%- for field in message.fields %}
    {{ field.name }}: {% if not field.required %}Optional[{% endif %}{% if field.repeated %}List[{% endif %}{{ field.type }}{% if field.repeated %}]{% endif %}{% if not field.required %}]{% endif %} = Field({{ field.attributes}})
    {%- endfor %}
{% endfor %}

